html {
  box-sizing:border-box;
}

body {
  background-color: #f2f2f2;
  font-family: "Lato", sans-serif;
  margin: 1.5rem;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  max-width: 25em;
  width: 100%;
  vertical-align: middle;
  display: block;
  padding-top: 1.5em;
}

h1 {
  padding-top: 0.5em;
  font-size: 1.5rem;
  text-align: left;
  display: inline-block;
}

p {
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  text-align: left;
  padding-bottom: 0.5em;
}

.btn {
  font-size: 0.75rem;
  padding: 0.4em;
  border-style: solid;
  border-radius: 0.5em;
}

h2 {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}
